.active
{
  text-align:center;
  display:block;
  display:grid;
  align-self:center;
  align-items:center;
  grid-template-columns:10rem auto auto;
  grid-gap:2rem;
  padding-left:2rem;
  margin-top:2rem;
  
}
.content{
  display:none;
}
.tabs-active
{
  background:yellow;
  color:green; 
}
.tabs
{
  background:white;
  color:black;
}
.tabs-avengers
{
  background:#0e1328;

}
.tabs-inacative
{
  background:#08508c;

}